<!DOCTYPE html>
<html lang="pt-br">
  <%- include ('layout/head.ejs') %>

  <body class="container-fluid">
    <%- include ('layout/navbar.ejs') %>

    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="mt-2">Perguntas</h1>
        <a href="/question" class="btn btn-outline-dark"> Perguntar </a>
      </div>
      <hr />
      <% listQuestions.forEach(elem => { %>
      <div class="card mt-1">
        <div class="card-body">
          <h5 class="card-title">
            <p><%= elem.title %></p>
          </h5>
        </div>
        <div
          class="card-footer d-flex justify-content-between align-items-center"
        >
          <a href="#" class="btn btn-outline-dark"> Responder </a>
          <a href="#"> Respostas </a>
        </div>
      </div>
      <% }) %>
    </div>
  </body>

  <%- include ('layout/footer.ejs') %>
</html>
